* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100vh;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
  padding: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.images .quantity,
.images .date {
  font-size: 30px;
  color: #4E4E4E;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  margin-top: 40px;
}

.images .date {
  margin-top: 12px;
}

.images__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 60px auto;
}

.images__wrapper :nth-last-child(4n + 4) {
  border: 5px solid red;
}

.images__item {
  width: 24%;
  border: 5px solid #4E4E4E;
  border-radius: 50%;
  overflow: hidden;
  margin: 6px 0;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  position: relative;
}

.images__item:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.images__item:hover {
  border: 5px solid #FFF000;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.images__content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.images__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.images__image:hover {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.images__image:not(:hover) {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #00000080;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
}

.popup__content {
  width: 60%;
  height: 80vh;
  position: relative;
}

.popup__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.popup__button {
  background-color: inherit;
  font-size: 32px;
  color: #ffffff;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  opacity: .7;
  position: absolute;
  top: -50px;
  right: 32px;
}

.popup__button:hover {
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  opacity: 1;
}

.popup__visible {
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  opacity: 1;
}

@media (max-width: 900px) {
  .images__item {
    width: 48%;
  }

  .popup__content {
    width: 80%;
    height: 60vh;
  }
}

@media (max-width: 500px) {
  .images__item {
    width: 100%;
  }

  .popup__content {
    width: 90%;
    height: 50vh;
  }
}